@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* Chrome, Safari, Edge, and Opera */
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
